*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.carousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    gap: 1em;
    user-select: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 21s infinite linear;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20%;
    min-height: 600px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px  rgba(0,0,0,0.22);
    transition: .4s;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content:hover {
    box-shadow: 0 3px 6px rgba (0,0,0,0.16),
    0 3px 6px rgba (0,0,0,0.23);
    transform: translate(0px, -8px);
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.checked {
    color: #ff9f43;
}

.fa:hover {
    transition: scale(1.3);
    transition: .6;
}

button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 16px #000000;
    align-self: flex-end;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1 {
    background: yellow;
}

.buy-2 {
    background: blue;
}

.buy-3 {
    background: purple;
}

.buy-4 {
    background: beige;
}

.buy-5 {
    background: pink;
}

.buy-6 {
    background: rgb(255, 0, 43);
}

.buy-7 {
    background: orange;
}

.buy-8 {
    background: green;
}

.buy-9 {
    background: #ff5733;
}

.buy-10 {
    background: #33c1ff;
}

.buy-11 {
    background: #9b59b6;
}

.buy-12 {
    background: #f1c40f;
}

.buy-13 {
    background: #e91e63;
}

.buy-14 {
    background: #e67e22;
}

.buy-15 {
    background: #2ecc71;
}

.buy-16 {
    background: #34495e;
}

@media(max-width:1000px){
    .content{
        width: 45px;
    }
}

@media(max-width:750px){
    .content{
        width: 100%;
    }
}